.inside-text {
  position: absolute;
  bottom: -40px;
}
.pyramid-container1 {
	text-align: center;
  	transform: rotate(0deg);
    position: absolute;
    margin-left: 100px;
    margin-top: 144px;
}

.pyramid-container2 {
	text-align: center;
  	transform: rotate(60deg);
    position: absolute;
    margin-top: 108px;
    margin-left: 38px;
}

.pyramid-container3 {
	text-align: center;
  	transform: rotate(180deg);
    position: absolute;
    margin-left: 100px;
}

.pyramid-container4 {
	text-align: center;
  	transform: rotate(120deg);
    position: absolute;
    margin-top: 36px;
    margin-left: 38px;
}

.pyramid-container5 {
    text-align: center;
    transform: rotate(240deg);
    position: absolute;
    margin-top: 36px;
    margin-left: 160px;
}

.pyramid-container6 {
    text-align: center;
    transform: rotate(300deg);
    position: absolute;
    margin-top: 108px;
    margin-left: 162px;
}

.pyramid-level-3 {
	position: relative;
    border-bottom: 50px solid blue;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    height: 0;
    width: 0px;
    margin-right:auto;
    margin-left:auto;
    top: 3px;
}

.pyramid-level-2 {
	position: relative;
    border-bottom: 50px solid green;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 58px;
    margin-right:auto;
    margin-left:auto;
    top: 4px;
}

.pyramid-level-1 {
  	position: relative;
    border-bottom: 50px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 117px;
    margin-right:auto;
    margin-left:auto;
    top: 5px;
}

.pyramid-container99 {
    text-align: center;
    transform: rotate(0deg);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
}

.pyramid-level-6 {
        position: relative;
    border-bottom: 8px solid #38b1d6;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 68px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-5 {
    position: relative;
    border-bottom: 8px solid #b2ecec;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 56px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-4 {
    position: relative;
    border-bottom: 8px solid rgb(134, 208, 236);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
        width: 44px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-33 {
        position: relative;
    border-bottom: 9px solid red;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 32px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-22 {
        position: relative;
    border-bottom: 9px solid green;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 20px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-11 {
    position: relative;
    border-bottom: 15px solid blue;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 0px;
    margin-right:auto;
    margin-left:auto;
    top: 3px;    
}