.inside-text {
  position: absolute;
  bottom: -40px;
}
.pyramid-container1 {
	text-align: center;
  	transform: rotate(0deg);
    position: absolute;
    margin-left: 100px;
    margin-top: 144px;
}

.pyramid-container2 {
	text-align: center;
  	transform: rotate(60deg);
    position: absolute;
    margin-top: 108px;
    margin-left: 38px;
}

.pyramid-container3 {
	text-align: center;
  	transform: rotate(180deg);
    position: absolute;
    margin-left: 100px;
}

.pyramid-container4 {
	text-align: center;
  	transform: rotate(120deg);
    position: absolute;
    margin-top: 36px;
    margin-left: 38px;
}

.pyramid-container5 {
    text-align: center;
    transform: rotate(240deg);
    position: absolute;
    margin-top: 36px;
    margin-left: 160px;
}

.pyramid-container6 {
    text-align: center;
    transform: rotate(300deg);
    position: absolute;
    margin-top: 108px;
    margin-left: 162px;
}

.pyramid-level-3 {
	position: relative;
    border-bottom: 50px solid blue;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    height: 0;
    width: 0px;
    margin-right:auto;
    margin-left:auto;
    top: 3px;
}

.pyramid-level-2 {
	position: relative;
    border-bottom: 50px solid green;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 58px;
    margin-right:auto;
    margin-left:auto;
    top: 4px;
}

.pyramid-level-1 {
  	position: relative;
    border-bottom: 50px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 117px;
    margin-right:auto;
    margin-left:auto;
    top: 5px;
}

.pyramid-container99 {
    text-align: center;
    transform: rotate(0deg);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
}

.pyramid-level-6 {
    position: relative;
    border-bottom: 20px solid #89cc78;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    height: 0;
    width: 118px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-5 {
    position: relative;
    border-bottom: 20px solid #99d1de;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 0;
    width: 94px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-4 {
    position: relative;
    border-bottom: 20px solid rgb(188, 225, 239);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 0;
    width: 70px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-33 {
    position: relative;
    border-bottom: 20px solid #e8ea51;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 0;
        width: 47px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-22 {
    position: relative;
    border-bottom: 20px solid #eff595;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 0;
    width: 24px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
}

.pyramid-level-11 {
    position: relative;
    border-bottom: 21px solid #af1111;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 0;
    width: 0px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;    
}

.pyramid-container99-0 {
    text-align: center;
    transform: rotate(0deg);
    position: absolute;
    margin-left: 100px;
    margin-top: 144px;
}

.pyramid-container99-1 {
    text-align: center;
    transform: rotate(60deg);
    position: absolute;
    margin-top: 115px;
    margin-left: 50px;
}

.pyramid-container99-2 {
    text-align: center;
    transform: rotate(180deg);
    position: absolute;
    margin-top: 29px;
    margin-left: 100px;
}

.pyramid-container99-3 {
text-align: center;
    transform: rotate(120deg);
    position: absolute;
    margin-top: 58px;
    margin-left: 50px;
}

.pyramid-container99-4 {
    text-align: center;
    transform: rotate(240deg);
    position: absolute;
    margin-top: 58px;
    margin-left: 150px;
}

.pyramid-container99-5 {
    text-align: center;
    transform: rotate(300deg);
    position: absolute;
    margin-top: 115px;
    margin-left: 150px;
}