.inside-text {
  position: absolute;
  bottom: -40px;
}
.pyramid-container1 {
	text-align: center;
  	transform: rotate(0deg);
    position: absolute;
    margin-left: 100px;
    margin-top: 144px;
}

.pyramid-container2 {
	text-align: center;
  	transform: rotate(60deg);
    position: absolute;
    margin-top: 108px;
    margin-left: 38px;
}

.pyramid-container3 {
	text-align: center;
  	transform: rotate(180deg);
    position: absolute;
    margin-left: 100px;
}

.pyramid-container4 {
	text-align: center;
  	transform: rotate(120deg);
    position: absolute;
    margin-top: 36px;
    margin-left: 38px;
}

.pyramid-level-3 {
	position: relative;
    border-bottom: 50px solid blue;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    height: 0;
    width: 0px;
    margin-right:auto;
    margin-left:auto;
    top: 3px;
}

.pyramid-level-2 {
	position: relative;
    border-bottom: 50px solid green;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 58px;
    margin-right:auto;
    margin-left:auto;
    top: 4px;
}

.pyramid-level-1 {
  	position: relative;
    border-bottom: 50px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
    margin-right:auto;
    margin-left:auto;
    top: 5px;
}

body{
  padding: 25px;
}

.t > div {
    position:absolute;
    top:50%;
    left:50%;
    width: 222px;
    height: 192px;
    overflow:hidden;
        
    transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    transform: skewX(30deg);
}
.t div .triangle {
    position:absolute;
    top:86px;
    left:-101px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent #0079c5 transparent;
    -webkit-backface-visibility: hidden;
    
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    cursor:pointer;    
    
    transform-origin:0 0;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;

    -ms-transform: skewX(-30deg) rotate(-60deg);
    -webkit-transform: skewX(-30deg) rotate(-60deg);
    transform: skewX(-30deg) rotate(-60deg);
}
.t div .triangle:hover {
    border-color: transparent transparent #009cff transparent;
    
    transform:  skewX(-30deg) rotate(-60deg) translate(0, 20%);
    -webkit-transform:  skewX(-30deg) rotate(-60deg) translate(0, 20%);
    -moz-transform:  skewX(-30deg) rotate(-60deg) translate(0, 20%);
}

.t > div:nth-child(1){
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    transform: skewX(30deg);
}
.t > div:nth-child(2){
    -ms-transform: rotate(60deg) skewX(30deg);
    -webkit-transform: rotate(60deg) skewX(30deg);
    transform: rotate(60deg) skewX(30deg);
}
.t > div:nth-child(3){
    -ms-transform: rotate(120deg) skewX(30deg);
    -webkit-transform: rotate(120deg) skewX(30deg);
    transform: rotate(120deg) skewX(30deg);
}
.t > div:nth-child(4){
    -ms-transform: rotate(-60deg) skewX(30deg);
    -webkit-transform: rotate(-60deg) skewX(30deg);
    transform: rotate(-60deg) skewX(30deg);
}
.t > div:nth-child(5){
    -ms-transform: rotate(-120deg) skewX(30deg);
    -webkit-transform: rotate(-120deg) skewX(30deg);
    transform: rotate(-120deg) skewX(30deg);
}
.t > div:nth-child(6){
    -ms-transform: rotate(-180deg) skewX(30deg);
    -webkit-transform: rotate(-180deg) skewX(30deg);
    transform: rotate(-180deg) skewX(30deg);
}